@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewBag.Message</p>

    <div class="mt-4">
        <h2>Opciones disponibles</h2>
        <ul>
            <li><a asp-controller="GestionUsuarios" asp-action="AltaUsuario">Crear Usuario</a></li>
            <li><a asp-controller="GestionUsuarios" asp-action="HabilitarDeshabilitarUsuario">Habilitar Usuario</a></li>  @* Esta enlace lleva hasta el menú para habilitar un usuario existente *@
            <li><a asp-controller="GestionUsuarios" asp-action="Edit">Modificar Usuario</a></li>
            <li><a asp-controller="GestionUsuarios" asp-action="EliminarUsuario">Eliminar Usuario</a></li>
        </ul>
    </div>
</div>
