@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewBag.Message</p>

<div>
    <h2>Opciones disponibles</h2>
    <ul>
        <li><a class="btn" asp-controller="AltaUsuario" asp-action="AltaUsuario">Crear Usuario</a></li>
        <li><a class="btn" asp-controller="GestionUsuarios" asp-action="HabilitarDeshabilitarUsuario">Habilitar Usuario</a></li>
        <li><a class="btn" asp-controller="GestionUsuarios" asp-action="ModificarUsuario">Modificar Usuario</a></li>
        <li><a class="btn" asp-controller="BajaUsuario" asp-action="BajaUsuario">Baja Usuario</a></li>
        <li><a class="btn" asp-controller="AltaMasiva" asp-action="AltaMasiva">Altas Masivas</a></li>
    </ul>
</div>

@section Styles {
    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 15px;
        }
    </style>
}